<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-xs-6 col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user,size: 40 %>
        <%= @user.name %>
      </h1>	
    </section>
  </aside>
</div>
<% if (Rails.env.development?) %>
	<%=	debug @user %>
	<%= debug current_user %>
	<%= debug Authorization.all %>
  <%= debug User.all %> 
<% end %>