<% if false %><%# comments out the below section %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Vector</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= image_tag post.vector_url(:thumb) %></td>
        <td><%= post.description %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<% end %>

<section class = "gallery">
  <% @posts.each_with_index do |post,idx| %>
    <%= link_to post do %>
      <figure tabindex="<%= idx + 1 %>">
        <%= image_tag(post.vector_url(:thumb), alt: post.title) %>
      </figure>
    <% end %>
  <% end %>
</section>
